  <li>
    <a href="{{ post.url }}">
    <article class="snippet">
      <h1 class="article-title">{{ post.data.title }}</h1>
      <h4 class="article-subtitle">{{ post.data.description }}</h3>
      <h5 class="article-timestamp">{{ post.date | postDate }}</p>
    </article>
    </a>
  </li>